/* styling for my whole document */
body{
    margin: 0%;
    padding: 0%;
    background-color: #7EC8E3;
    border-color: black;
    border-style: solid;
}
/* header */
header{
    background-image: url(https://img.freepik.com/free-vector/abstract-fluid-neon-color-3d-effect-business-background-banner-design-multipurpose_1340-16790.jpg);
    background-size: cover;
}
/* introductory paragraph */
h1{
    color: white;
}
h4{
    color: whitesmoke;
}
p{
    font-size: large;
}
/* Links */
a{
    text-decoration: none;
    color: blue;
}

/* contacts */
.contacts{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* container */
.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}
.container-1{
    background-color: gray;
    border: solid;
    margin: 10px;
    border-radius: 20px;

    grid-row-start: 1;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 3;

}
.container-2{
    background-color: gray;
    border: solid;
    margin: 10px;
    border-radius: 20px;
    
}
.container-3{
    background-color: gray;
    border: solid;
    margin: 10px;
    border-radius: 20px;
    
}
h2{
    color: darkblue;
    margin: 20px;

}
/* picture */
.pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid white;
    margin: 50px;

}
/* form */
.form{
    background-color: 0077B6;
    margin: 20px;
}
/* menu bar*/
.nav{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

a:hover{
    color: white;
    font-size: large;
}
/* flexbox */
.hearder{
    display: flex;
}
.picture{
    flex: 1

}
.intro{
    flex: 1;

}
/* footer*/
footer{
    background-color: rgb(144, 142, 142);
    border: solid;
    margin: 10px;
    border-radius: 20px;

    
}

/*  introductry sentence */
.intro{
    position: relative;
    text-align: center;
    top: 20px;
    right: 250px;
}
/* Mobile  */
@media only screen and (max-width: 600px) {
    .hearder{
        display: contents;
    }
    .container-grid{
        display: contents;
    }
    .pic{
        width: 100px; height: 100px;
    }
    body{
        font-size: small;
    }
    .intro{
        position: relative;
        text-align: center;
        top: 0;
        right: 0;
    }
    .picture{
        position: relative;
        text-align: center;
    }
    p{
        font-size: small;
    }
}
/* Tablet screen */
@media only screen and (min-width: 601px) and (max-width: 966px) {
    .pic{
      width: 200px;
      height:  200px;
    }
    .header{
      display: grid;
    }
    .container-grid{
        display: contents;
    }
    body{
      font-size: medium;
    }

  }

